body
{
  text-align: center;
  width: 100%;
}
table
{
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
  border: 3px solid blue;
  padding: 30px;
}
input[type="text"]
{
  width:100%;
}

input[type="button"]
{
  width:100%;
  background-color: rgba(255, 230, 50, 0.9);
  border: none;
  border-radius: 20px;
}
