@media screen and (max-device-width:500px)
{
    h1{color: red}
}

img
{
  width:50%;
  height:50%;
  margin-left:20%;
}
h1
{
  text-align: center;
}
h5
{
  font-size: 30px;
  text-align: center;
  text-transform: lowercase;
}
ul
{
  margin-left: 30%;
  align: center;
  font-size: 25px;
}

.k2
{
  font-size: 20px;
  margin-left: 30%;
  background-color: rgba(255,172,89,0.9);
  margin-right: 30%;
  padding: 20px;
}
input[type=text]
{
  width: 90%;
  display: block;
}
input[type=search]
{
  font-size: 25px;
  width: 90%;
  display: block;
}
input[type=url]
{
  width: 65%;
  font-size: 20px;
}
input[type=date]
{
  text-align: center;
  font-size: 20px;
  width: 90%;
  display: block;
}
input[type=password]
{
  width: 90%;
  display: block;
}
input[type=color]
{
  width: 90%;
  display: block;
}
input[type=email]
{
  width: 90%;
  display: block;
}
input[type=number]
{
  width: 90%;
  display: block;
}
input[type=tel]
{
  width: 90%;
  display: block;
}
input[type=checkbox]
{ margin: auto;
  align-items:center;
  align-content: center;
  margin-left: 10px;
  display: inline;
}
input[type=radio]
{ margin: auto;
  align-items:center;
  align-content: center;
  margin-left: 10px;
  display: inline;
}

.mark
{
  margin: 100px;
}
input[type=submit]
{
  width: 30%;
  display: inline;
  margin-left:5px;
  background-color: rgba(100,255,100,0.9);
  border: none;
  padding:10px;
  position: static;
  border-radius: 20px;
  margin-bottom: 20px;
}
input[type=reset]
{
  width: 30%;
  display: inline;
  margin-left: auto;
  background-color: rgba(100,100,255,0.9);
  border: none;
  padding:10px;
  position: static;
  border-radius: 20px;
  margin-bottom: 20px;
}
input[type=button]
{
  width: 30%;
  display: inline;
  margin-left: auto;
  background-color: rgba(255,0,0,0.7);
  border: none;
  padding:10px;
  position: static;
  border-radius: 20px;
  margin-bottom: 20px;
}

p
{   background-color: rgba(255,100,0,0.5);
    margin-left:  29%;
    margin-right: 30%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
